<h2>Signup</h2>
<div class="signup-box">
  <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
    <div class="form-row">
      <div class="col">
        <input class="form-control" id="username" type="text" name="username" placeholder="Your username">
      </div>
      <div class="col">
        <input class="form-control" id="password" type="password" name="password" placeholder="Your password">
      </div>
    </div>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <div class="form-group margin">
      <label>Upload your photo</label>
      <input class="form-control-file" type="file" name="photo">
    </div>
    <button class="button-menu button-signup-style">Create account</button>
  </form>
</div>

