


<form action="/navi/journey/new" method="POST">
  <label>Content</label>
  <input name="identifier" placeholder="Content"></input>
<br>
<label>Nature</label>
  <select name="kindOfJourney">
    <option value="Job journey">Job journey</option>
    <option value="Pleassure journey">Pleassure journey</option>
    <option value="Buying journey">Buying journey</option>
    <option value="Just for a walk">Just for a walk</option>
  </select>
  <br><br>

<label>Begininng</label><br>

<input type="text" name="marks" id="marks"><br>
<input type="text" name="marks3" id="marks3"><br>
<input type="text" name="ends" id="ends"><br>
<input type="text" name="ends3" id="ends3"><br>
<input type="submit" value="Click to save Route">
<br><br>

{{!-- <label>End</label><br>

<input type="text" name="marks" id="marks"><br>
<input type="text" name="marks3" id="marks3"><br>
<input type="submit" value="Click to save Route"> --}}

</form>