<!DOCTYPE html>
<lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"
      {{!-- +GoogleApi --}}></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <div class="ariadna">
        <form action="/" method="POST" id="form-container">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="JonSnow">
          <br><br>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="Your password">
          <br>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}
          <button>Login</button>
        </form>
        <a href="/auth/signup">Signup</a>
        <a href="/auth/logout">Logout</a>
        <a href="/">Home</a>
      </div>
      <hr>
      <hr>
    </nav>
    <div id="map"></div>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/routing.js"></script>
    <script src="/javascripts/repoSpoter.js"></script>
    <script src="/javascripts/maps.js"></script>
    <script>startMap();
      if (window.location.pathname.includes('journey')) {
        rutas();
      } else if (window.location.pathname.includes('report')) {
        repoRuter();
      }
    </script>
    {{{body}}}
  </body>
  </html>