<!DOCTYPE html>
<lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"
      {{!-- +GoogleApi --}}></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="">
      <div >
        <div style="display: flex; flex-direction: row;">
          <nav class="nav" style="flex-basis: calc(100% - 500px);">
            <a class="" href="/auth/signup">Signup</a>
            <a class="" href="/auth/logout">Logout</a>
            <a class="" href="/">Home</a>
            <a class=" disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </nav>
          <form action="/" method="POST" id="form-container" style="flex-basis: 300px; text-align: right;">
            <div style="">
              <div style="display: flex; flex-direction: row; width: 500px;">
                <div class="">
                <label class="sr-only" for="username">Username</label>
                <input class="form-control mb-2" id="username" type="text" name="username" placeholder="JonSnow">
              </div>
              
              <div class="">
                <label class="sr-only" for="password">Password</label>
                <input class="form-control mb-2" id="password" type="password" name="password" placeholder="Your password">
              </div>

              <div class="">
                <button class="btn btn-primary mb-2 button-menu">Login</button>
              </div>
              </div>
          </form>
        </div>
     
      </div>
    </div>


    <div class="container-fluid map-container">
      <div class="row">
        <div class="col-md-7">
          <div id="map"></div>
        </div>

         <script src="/javascripts/script.js"></script>
    <script src="/javascripts/routing.js"></script>
    <script src="/javascripts/repoSpoter.js"></script>
    <script src="/javascripts/maps.js"></script>
    <script>startMap();
      if (window.location.pathname.includes('journey')) {
        rutas();
      } else if (window.location.pathname.includes('report')) {
        repoRuter();
      }
    </script>
    
        <div class="col-md-5">
          {{{body}}}
        </div>
      </div>
    </div>


   

    {{!-- <form method="POST" action="/navi">
      <input type="text" name="marks" id="marks">
      <input type="text" name="marks3" id="marks3">
      <input type="submit" value="Click to save Route">
    </form> --}}




  </body>


  </html>



  {{!--
  <script>
    window.onload = function () {

      function startMap() {
        const madridCentro = {
          lat: 40.4167,
          lng: -3.7042
        };
        const map = new google.maps.Map(
          document.getElementById('map'),
          {
            zoom: 15,
            center: madridCentro
          }
        );
      }

      startMap();

    };
  </script> --}}

  {{!-- --}}