body {
  background-image: url("../images/bicicleta-curvada.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  float: left;
  height: 300px;
  width: 60%;
 }

 #form-container{
   display: flex;
   flex-flow: row;
 }

 .ariadna{
   display: flex;
   flex-flow: row;
 }

 .menu{
  
 }