<h2>Set/select your journeyyyyyyyyyy!!!!!</h2>

<form action="{{!-- ruta de journeys --}}" method="POST" id="form-container">
  <label for="username">Nombre del journey</label>
  <input id="username" type="text" name="journey" placeholder="My Journey to...">

  {{!-- <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}} --}}

  <br><br>

{{!-- Poner aquí el google maps --}}


  <br><br>



  <button>Introducir journey</button>

  <p class="account-message">
        <a href="{{!-- ruta tras subir journey --}}">Introducir journey</a>
  </p>
</form>
{{!-- Queda por añadir los checkboxes 
en los que podemos visionar todos los avisos o solo
los relativos a nuestra ruta--}}