<h3>List of Reports</h3>
<ul>
  {{#each reports}}
  <li>
    <p>User id: {{this.creatorId}}</p>
    <p>Description: {{this.content}}</p>
    <p>State: {{this.state}}</p>


    <a href="/navi/reports/{{this._id}}">Read more</a>
  </li>
  {{/each}}
</ul>