<div id="menu">
<h3>ESCOGE LO QUE QUIERAS WAPERAS</h3>
<hr><hr>
<a href="/trips">Journeys</a>
<br><hr>
<a href="/reports">Reports</a>
<br><hr>
<a href="{{!-- Ruta de P.de.Interes --}}">Points of interest</a>
</div>